<div class="mt-5 mb-5">
  <div class="col-lg-4 m-auto mb-5 max__width__500">
    <div class="card card-body shadow transparent__card">
      <h1 class="text-center mt-3">會員登入</h1>
      {{> message}}
      <form action="/users/login" method="POST">
        <div class="form-group">
          <label for="email">Email</label>
          <input type="email" id="email" name="email" class="form-control" placeholder="Enter Email" {{ email }}>
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" id="password" name="password" class="form-control" placeholder="Enter Password" {{ password }}>
        </div>
        <button type="submit" class="btn btn-secondary btn-block">Login</button>
        <a href="/auth/facebook" class="btn btn-block color__fb">Facebook</a>
      </form>
      <p class="lead mt-4">
        沒有帳號嗎? 前往<a href="/users/register" >註冊</a>
      </p>
    </div>
  </div>
</div>